  /* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Noto+Sans:wght@900&display=swap'); */

  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */

  @font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: 400;          
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
         url('../fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: 700;          
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
         url('../fonts/Inter/Inter-Black.woff') format('woff');
    font-weight: 900;          
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url('../fonts/Noto_Sans/NotoSans-Black.woff2') format('woff2'),
         url('../fonts/Noto_Sans/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
  }